<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave1</name>
  <description>slave1</description>
  <remoteFS>/home/ec2-user/</remoteFS>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.CommandLauncher" plugin="command-launcher@1.6">
    <agentCommand></agentCommand>
  </launcher>
  <label>c-project</label>
  <nodeProperties/>
</slave>